extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros imagen", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis urna vel neque suscipit egestas. Proin vel nulla eu nisl molestie iaculis. Cras finibus scelerisque lectus vestibulum varius. r purus felis ut quam. Duis vitae felis scelerisque, pellentesque urna sit amet, dictum mauris. Nullam id turpis id justo commodo vulputate.
                p Nulla sed sapien urna. Phasellus dapibus elementum tincidunt. Nulla pellentesque finibus elementum. Lorem ipsum dolor sit amet, consectetur adio.
                p Mauris sagittis urna non nulla porttitor, a imperdiet massa sollicitudin. Phasellus eget nunc fermentum, vulputate lacus et, consectetur eros. .ibus elementum. Lorem ipsum dolor sit amet, consectetur adio.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis urna vel neque suscipit egestas.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis urna vel neque suscipit egestas.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2 Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis urna vel neque suscipit egestas.
